<section id="section1" class="section1">

  <carousel [isAnimated]="true">
    <slide>
      <img src="../../../assets/slide-1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="black-wrap"></div>
      <div class="carousel-caption d-none d-md-block carusel-texts">
        <h5 class="animate__animated animate__fadeInDown">Наша миссия</h5>
        <p class="animate__animated animate__fadeInUp">единство слова и дело отражает ценности компании</p>
        <button class="btn btn-primary  animate__animated animate__fadeInUp scrollto">Подробнее</button>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/slide-2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="black-wrap"></div>
      <div class="carousel-caption d-none d-md-block carusel-texts">
        <h5 class="animate__animated animate__fadeInDown">Ценности компании</h5>
          <p class="animate__animated animate__fadeInUp">Люди — главная ценность Нашей компании. Профессионализм и отношение к работе сотрудников это залог долгосрочного успеха «BePro-DevHub».</p>
          <button class="btn btn-primary animate__animated animate__fadeInUp scrollto">Подробнее</button>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/slide-3.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="black-wrap"></div>
      <div class="carousel-caption d-none d-md-block carusel-texts">
        <h5 class="animate__animated animate__fadeInDown">
          Наша cтратегия

        </h5>
        <p class="animate__animated animate__fadeInUp">В стратегиях некоторых компаний есть «видение», но нет «миссии» и наоборот. Мы всегда стараемся совмещать все стороны.</p>
        <button class="btn btn-primary animate__animated animate__fadeInUp scrollto">Подробнее</button>
      </div>
    </slide>
  </carousel>


</section>


<app-about-us></app-about-us>

<app-mission></app-mission>

<app-portfolio></app-portfolio>

<app-team></app-team>

<app-contacts></app-contacts>