.carusel-texts {
    position: absolute;
    top: 200px;
    left: 160px;
    width: 500px;
    text-align: left;

    h5 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 900;
    }




    

}


.slide-item {
    position: relative;
}

.black-wrap{
    position: absolute;
    
    top: 0;

    width: 1349px;
    height: 758.812px;
    opacity: .6;
    background-color: black;
}

