<section id="contact" class="contact" data-aos-delay="800" data-aos-duration="2000">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Контакты</h2>
      </div>

      <div class="row">

        <div class="col-lg-6 d-flex" data-aos="fade-up">
          <div class="info-box">
            <i class="bi bi bi-geo-alt"></i>
            <h3>Наш адрес</h3>
            <p>г.Ташкент ул Кирк-Киз, 10</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bi  bi-envelope"></i>
            <h3>Email</h3>
            <p>info@devhub.uz</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box ">
            <i class="bi bi-telephone"></i>
            <h3>Телефон</h3>
            <p>+998 94 641 03 88</p>
          </div>
        </div>

      </div>

    </div>
  </section>
