.contact {
    margin-bottom: 24px;
}


.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5c768d;
    text-align: center;
}


.contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
}

.contact .info-box i {
    display: inline-block;
    font-size: 32px;
    color: #428bca;
    border-radius: 50%;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px dotted #9eccf4;
    margin-bottom: 8px;
}