<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>BePro-DevHub</h3>
            <p>
              г.Ташкент ул Кирк Киз 10 <br>
              <br>
              <strong>Телефон:</strong> +998 94 641 03 88<br>
              <strong>Email:</strong> info@devhub.uz<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter footer-social"><i class="bi bi-twitter footer-icons"></i></a>
              <a href="#" class="facebook footer-social"><i class="bi bi-facebook footer-icons"></i></a>
              <a href="#" class="instagram footer-social"><i class="bi bi-instagram footer-icons"></i></a>
              <a href="#" class="google-plus footer-social"><i class="bi bi-skype footer-icons"></i></a>
              <a href="#" class="linkedin footer-social"><i class="bi bi-linkedin footer-icons"></i></a>
            </div>
          </div>

          
        </div>
      </div>
    </div>

    <div class="footer-bottom">
        <div class="container ">
            <div class="copyright">
              &copy; Copyright <strong><span>BePro-DevHub</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
             
            </div>
          </div>
    </div>
  </footer>