#footer {
    background: #587187;
    padding: 0 0 0 0;
    color: #fff;
    font-size: 14px;
    
}

.footer-top {
    padding-top: 30px;
    padding-bottom: 30px;
    
}


.footer-bottom {

  height: 100%;
  width: 100%;
  background: #395670;
  padding-bottom: 30px;
  
   
}

.footer-icons {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "boxicons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-transform: none
}

.footer-social{
    font-size: 18px;
    display: inline-block;
    background: #768fa6;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.copyright {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 30px;
    text-align: center;
    
}