<section id="services" class="services">
    <div class="container" data-aos="fade-up" data-aos-delay="800" data-aos-duration="2000">

      <div class="section-title">
        <h2>Услуги</h2>
      </div>

      <div class="row boxx-wrap">
        <div class="col-lg-4 col-md-6 icon-box boxx" data-aos="fade-up">
          <div class="icon-wrap">
            <div class="icon"><i class="bi bi-chat-left-dots iconi"></i></div>
          <h4 class="title">ПО</h4>
          </div>
          <p class="description">Наша компания способна создать программное обеспечение различного типа: начиная от
            GUI приложений и заканчивая сложными программными инструментами, ориентированных на комплексную обработку
            данных, а также программные комплексы.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box boxx" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-wrap">
            <div class="icon"><i class="bi bi-bounding-box iconi"></i></div>
          <h4 class="title">Тех. задание</h4>
          </div>
          <p class="description">Техническое задание содержит в себе всю информацию о будущем сайте, начиная от
            всевозможных технических, дизайнерских тонкостей, до координации работы специалистов, создающих
            веб-ресурс, и регламентации деловых отношений между заказчиком сайта и исполнителем.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box boxx" data-aos="fade-up" data-aos-delay="200">
         <div class="icon-wrap">
            <div class="icon"><i class="bi bi-globe iconi"></i></div>
            <h4 class="title">CRM</h4>
         </div>
          <p class="description">CRM- и ERP-системы предназначены для автоматизации и управления внутренними рабочими
            процессами компании.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box boxx" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-wrap">
            <div class="icon"><i class="bi bi-broadcast iconi"></i></div>
          <h4 class="title">Mobile apps</h4>
          </div>
          <p class="description">Мобильные приложения – острая необходимость для всех, кто привык оперативно
            реагировать на изменения в любых сферах деятельности и получать своевременную информацию</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box boxx" data-aos="fade-up" data-aos-delay="400">
         <div class="icon-wrap">
            <div class="icon"><i class="bi bi-brightness-high iconi"></i></div>
            <h4 class="title">WEB-сайты</h4>
         </div>
          <p class="description">Профессиональные услуги в области разработки сайтов</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box boxx" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-wrap">
            <div class="icon"><i class="bi bi-calendar2-week iconi"></i></div>
          <h4 class="title">Техническая поддержка</h4>
          </div>
          <p class="description">Полное покрытие всех часовых поясов, режим работы 24x7</p>
        </div>
      </div>

    </div>
  </section>