.title {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    text-decoration-color: rgb(68, 68, 68);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
   
}

.icon {

    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    display: inline-flex;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 80px;
    justify-content: center;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    width: 80px;
}

.iconi {
    
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 0px;
    text-align:center;
}

.description {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0px;
    text-align: center
}

.section-title {
    h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #5c768d;
        text-align: center
    }
}

.icon-wrap {
    text-align: center;
}

.boxx {
   margin-bottom: 50px;
}

.boxx:hover  .icon  {
    box-shadow: rgba(66, 139, 202, 0.5) 0px 0px 30px 0px;
 }

.boxx-wrap {
    margin-top: 50px;
}

.services {
    margin-top: 100px;
}