.head-logo {
    width: 160px;
    height: 40px;
}

#header {
    transition: all ease .3s;
    
}


.header {
    position: fixed;   
    top: 80;
    right: 0;
    left: 0;
    height: 70px;
    background: #fff;
    z-index: 5;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
    transition: all ease .3s;

   
    .header-right {
        .active {
            color: #428bca;
        }
    }
    

    .header-inner {

        .active {
            color: #428bca;
        }
        .menu-links {
            padding: 10px 0 10px 30px;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            color: #5c768d;
            white-space: nowrap;
            transition: 0.3s;
            text-decoration: none;

            &.active {
                color: #428bca;
            }
        }

        .menu-links:hover {
            color: #428bca;
        }
    }
}

.active {
    color: #428bca;
}
