<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a routerLink="">Home</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section>


    <div class="project-wrap container">
        <div class="linkTo">
            <a href="">example.uz</a>
        </div>

        <div class="ImgTo">
            <img src="imgW" alt="" width="350" height="300">
        </div>
    </div>

   
    
  </main>

