




<section id="about" class="container about "  data-aos-delay="900" data-aos-duration="2000"  data-aos="fade-up">
    <div class="container about-inner">

      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <img src="../../../assets/a4698909-3105-491c-9652-23582487d929.jpg" class="img-fluid1" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>О компании</h2>
            <p>Компания ООО «BePro-DevHub» была создана в 2019 году как поставщик IT услуг. Благодаря новой модели
              бизнеса, объединяющей команду в различных областях IT, компания зарекомендовала себя как активный игрок,
              нацеленный на результат и достижения бизнес целей Заказчика. Прозрачная модель ценообразования,
              высококвалифицированная команда позволяет компании завоевывать новые горизонты и твердо смотреть в
              будущее.
              Наша компания предоставляет заказчику полный спектр услуг по разработке программного обеспечения любой
              сложности. Основной принцип в разработке программного обеспечения – это индивидуальный подход и учет
              всех особенностей бизнес-процессов Заказчика. Использование современных практик гибкой разработки и
              непрерывной интеграции позволяют нам создавать качественные отказоустойчивые программные продукты в
              кратчайшие сроки.</p>
          </div>

        </div>
      </div>

    </div>
  </section>