.back-to-top {
    position: fixed;
    visibility: visible;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 8;
    background: #428bca;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;

    i {
         color: white;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

